a {
	margin-left: 30px;
}

button {
	margin-left: 30px;
}

div {
	display: inline-block;
}
/*
mat-toolbar {
  background: -webkit-linear-gradient(left, #750787 0%, #750787 14.28%, #004dff 14.28%, #004dff 28.57%, #008026 28.57%, #008026 42.85%, #ffed00 42.85%, #ffed00 57.14%, #ff8c00 57.14%, #ff8c00 71.43%, #e40303 71.43%, #e40303 85.72%, violet 85.72%, violet 100%);
  background: #750787; 
  background: -o-linear-gradient(left, #750787 0%, #750787 14.28%, #004dff 14.28%, #004dff 28.57%, #008026 28.57%, #008026 42.85%, #ffed00 42.85%, #ffed00 57.14%, #ff8c00 57.14%, #ff8c00 71.43%, #e40303 71.43%, #e40303 85.72%, violet 85.72%, violet 100%);
  background: -moz-linear-gradient(left, #750787 0%, #750787 14.28%, #004dff 14.28%, #004dff 28.57%, #008026 28.57%, #008026 42.85%, #ffed00 42.85%, #ffed00 57.14%, #ff8c00 57.14%, #ff8c00 71.43%, #e40303 71.43%, #e40303 85.72%, violet 85.72%, violet 100%);
  background: linear-gradient(to right, #750787 0%, #750787 14.28%, #004dff 14.28%, #004dff 28.57%, #008026 28.57%, #008026 42.85%, #ffed00 42.85%, #ffed00 57.14%, #ff8c00 57.14%, #ff8c00 71.43%, #e40303 71.43%, #e40303 85.72%, violet 85.72%, violet 100%);
}*/